<%- include('includes/head.ejs') %>
</head>
<body>
    <div class="login-container">
        <form action="/auth/reset" method="POST">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" >
            <br>
            <br>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button>Reset</button>
        </form>
        <div class="helpers-container">
            <a href="/auth/login">Login here</a>
        </div>
        <% if(errorMessage){ %>
            <div class="error-container"><%= errorMessage %></div>
        <% } %>
        <% if(feedback){ %>
            <div class="feedback-container"><%= feedback %></div>
        <% } %>
    </div>

<%- include('includes/end.ejs') %>