<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(user => { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.age %></td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                        <td class="action-column">
                            <form action="/edit" method="GET">
                                <input type="hidden" value="<%= user._id %>" name="_id">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                <button>Edit</button>
                            </form>
                            <form action="/delete" method="POST">
                                <input type="hidden" value="<%= user._id %>" name="_id">
                                <input type="hidden" value="<%= user.collegeId %>" name="clgId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                <button>Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        </ul>
    </div>

<%- include('includes/end.ejs') %>